

nav {
	margin: 0px; 
	text-align: center;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
        z-index:1000;
	}


nav ul {
	padding: 0 0px;
    margin:0px;
	border-radius: 0px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
        float:left;
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
	background: #0E6C89 url(http://jackrugile.com/images/misc/noise-diagonal.png); 
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 10px 40px;
            margin-left:20px;
            margin-right:50px;
			color: #FFFFFF; text-decoration: none;
		}
			
		
	nav ul ul {
	background: #0E6C89 url(http://jackrugile.com/images/misc/noise-diagonal.png) ; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff; position: relative;
		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li a:hover {
	background: #0E6C89 url(http://jackrugile.com/images/misc/noise-diagonal.png); 
				}
		
	nav ul ul ul {
		position: absolute; left:; top:0;
	}
#hover {
    position: fixed;
	background: #0E6C89 url(http://jackrugile.com/images/misc/noise-diagonal.png); 
	border-radius: 0px;  
    width: 100px;
    height: auto;
    top: 50px;
    right: 50px;
    z-index: 10;
    line-height:37px;
    padding: 0px 40px;
	color: #757575; text-decoration: none;
    text-align:center;
}		